.big,.small{background-repeat:no-repeat;background:position:center top;background-size:contain;cursor: pointer}
				section{width:100%;padding:10px 0;}
				/*************************************************banner图*/
					#banner{width:1190px;height:300px;margin:0 auto;position:relative;}
						#banner .pic{width:1010px;height:300px;overflow:hidden;position:absolute;right:0;}

						#banner .pic ul li{width:1010px;height:300px;position:relative;overflow:hidden;}
						#banner .img1{position:absolute;left:-1010px;top:0px;width:1010px;height:300px;}
						#banner .img2{position:absolute;left:-20px;top:0px;display:none;width:1010px;height:300px;opacity:.9}

					/*按钮区域*/
						#banner .nav ul li{border:1px solid white;width:15px;height:15px;float:left;margin-left:5px;}
						#banner .nav{width:125px;height:30px;position:absolute;right:10px;bottom:10px;}
						#banner .select{background-color:white;}
					aside{width:150px;height:300px;position:absolute;left:0;border:1px solid darkred;}
						aside ul .li1{width:150px;height:33px;border-bottom:1px solid #CCCCCC;box-sizing: border-box;position:relative;}
						aside ul .li1:last-child{border-bottom:0;}
							aside ul .li1 .a1{font:13px/31px "microsoft yahei";position:absolute;left:10px;width:140px;}
							aside ul .li1 a:hover menu{color:#666;}
							aside ul .li1 p{float:left;}
							aside ul .li1 b{float:right;padding:0 10px;}
							aside ul .li1 .span1{background-image:url(img/menu_icon.png);float:left;width:30px;height:31px;padding:0 10px;box-sizing: border-box;}
								aside ul .li1 menu{width:650px;min-height:100px;height:auto!important;height:100px;position:absolute;border:1px solid #CCCCCC;left:140px;background:#fff;padding:5px 0;overflow:hidden;display:none;z-index: 1;}
									aside ul .li1:hover menu{display:block;}
									/*--------------------------------------------------*/
									aside ul .li1 menu ul:nth-of-type(1){width:400px;min-height:100px;height:auto!important;height:100px;float:left;}
									aside ul .li1 menu ul:nth-of-type(2){width:249px;min-height:100px;height:auto!important;height:100px;border-left:1px dashed #CCCCCC;float:left;}
									/*-------------------------------------------------*/
								aside ul .li1 menu ul li{height:130px;width:200px;float:left;}
									aside ul .li1 menu ul li h3{text-align: left;padding:0 10px;cursor: pointer;}
										aside ul .li1 menu ul li h5:hover{color:darkred;}
									aside ul .li1 menu ul li span:nth-of-type(odd){display:inline-block;padding:0 10px;cursor: pointer;font:14px/17px "microsoft yahei";}
									aside ul .li1 menu ul li span:nth-of-type(even){display:inline-block;padding:0 5px;font:15px/17px "microsoft yahei";color:#CCCCCC;}
										aside ul .li1 menu ul li span:hover{color:darkred;}
			
				article{width:1190px;height:495px;border-left:1px solid #CCCCCC;margin:0 auto;margin-top:20px;position:relative;}
					article figure:nth-of-type(1){width:900px;height:495px;float:left;}
					article figure div{float:left;box-sizing: border-box;}
						article figure:nth-of-type(1) .left{border-top:3px solid darkred;box-sizing: border-box;width:300px;height:100%;}
							article figure:nth-of-type(1) .left div p{font:15px/50px "microsoft yahei";text-indent: 20px;color:#000}
							article figure:nth-of-type(1) .left div p i{color:darkred;font-size:25px;}
						
						article figure:nth-of-type(1) .left div{border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
						article figure:nth-of-type(1) .center div{border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
						article figure:nth-of-type(1) .right div{border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
						
							
							
						article figure:nth-of-type(1) .center{border-top:3px solid #CCCCCC;box-sizing: border-box;width:300px;height:100%;}
							
						article figure:nth-of-type(1) .right{border-top:3px solid #CCCCCC;box-sizing: border-box;width:300px;height:100%;}
						
					article figure:nth-of-type(2){width:279px;height:495px;float:left;margin-left:10px;border-top:3px solid #CCCCCC;border-left:1px solid #CCCCCC}
						article figure:nth-of-type(2) div{width:139px;height:62px;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
					/*-----------------------------------------第五个article*/
					#article4{width:1192px;min-height:200px;height:auto!important;height:200px;margin:0 auto;}
					/*-----------------------------------------第六个article*/
					.article6{width:1190px;height:200px;margin:0 auto;margin-top:20px;position:relative;border:0;}
						.article6 .left{width:590px;height:200px;float:left;}
						.article6 .right{width:590px;height:200px;float:right;}
						
						.article6 h4{font:15px/50px "microsoft yahei";text-indent: 20px;color:#999}
						.article6 h4 i{color:darkred;font-size:18px;}	
						.article6 .con{width:590px;height:150px;border:1px solid #CCCCCC;box-sizing: border-box;border-top:3px solid #CCCCCC}
							.article6 .left .con a{float:left;padding:5px 10px;font:20px/30px "microsoft yahei";color:#000;}
								.article6 .left .con a:hover{color:darkred}
							.article6 .right .con .con_left{height:147px;width:187px;border-right:1px solid #CCCCCC;float:left;}
							
								.article6 .right .con .con_left .top{height:73px;width:189px;border-bottom:1px solid #CCCCCC;}
									.article6 .right .con .con_left .top .top_left{width:60px;height:73px;float:left;}
									.article6 .right .con .con_left .top .top_right{width:128px;height:73px;float:left;}
								.article6 .right .con .con_left .bottom{height:73px;width:189px;}
								
							.article6 .right .con .con_right{height:147px;width:400px;float:left;}
								.article6 .right .con .con_right div{width:200px;height:37px;float:left;line-height:16px;}
									.article6 .right .con .con_right div span{float:left;border:1px solid #CCCCCC;width:40px;height:33px;}
						
					/*-----------------------------------------第七个article*/
					.article7{width:1190px;height:300px;margin:0 auto;margin-top:20px;position:relative;border:0;}
						.article7 .center{width:1190px;height:300px;float:left;}
						
						
						.article7 h4{font:15px/50px "microsoft yahei";text-indent: 20px;color:#999}
						.article7 h4 i{color:darkred;font-size:18px;}	
						.article7 .con{width:1190px;height:250px;border:1px solid #CCCCCC;box-sizing: border-box;border-top:3px solid #CCCCCC}		
							.article7 .con ul{width:1190px;height:247px;}
							.article7 .con ul li{width:148px;height:247px;border-right:1px solid #CCCCCC;box-sizing: border-box;float:left;}
							.article7 .con li a{width:147px;height:217px;float:left;}
								.article7 .con li a strong{width:147px;height:157px;float:left;}
								.article7 .con li a em{width:147px;height:60px;float:left;text-align:left;font:15px/30px "microsoft yahei";overflow:hidden;text-indent: 10px;;}
								
							.article7 .con li span{width:147px;height:30px;float:left;font:20px/20px "microsoft yahei";color:darkred;}
							.article7 .con ul li:nth-of-type(8){border:none;}
							
					.small .small_price{color:darkred;}
					.small{background-position:center bottom;background-size:contain;}